*{
    margin:0;
    border: border-box;
}

.navbar{
    background-color: #11111C;
    color:aliceblue;
    max-height:120px;
    display:flex; 
    box-shadow: 0 11 35px -6px rgba(0, 0, 0, 0.507);
    z-index:1;
}

.nav-logo{
    
    display:flex; 
    justify-content: center;
    align-items: center; 
    font-size: 1.1rem;
    font-family: 'FONTSPRING DEMO - Biennale Light';
    min-width: fit-content;
    padding:20px;
    padding-left:40px; 
    cursor: pointer;
    
    
   
} 
.nav-logo h1{
    margin:0;
    
}  




/* .nav-items{
    width:100%;
    
}

.items{
    display: flex;
    margin-left:200px;
    justify-content: center;
    align-items:center;

}

.items a{
    font-family: 'Gilroy';
    display: flex;
    justify-content: center;
    align-items:center;
    height:70px;
    margin-left:20px;
    margin-right:40px;
    text-decoration:none;
}

.items a:hover{
    color:rgba(240, 248, 255, 0.668);
}

.items a:visited{
    color:aliceblue;
} */

.nav-items{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-left:30%;
}

.nav-items a{
    display:block;
    font-family: 'Gilroy';
    text-decoration:none;
    transition:all 0.3s ease 0s;
}

.nav-items a:visited{
    color:aliceblue;
}

.nav-items a:hover{
    color:rgba(240, 248, 255, 0.668);
}




