<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, culpa iusto excepturi eos, labore odit recusandae neque, veniam debitis nesciunt autem incidunt libero expedita accusamus eius nulla laborum at sequi.</p>
    <button>Click me!</button>
    
</body>
</html>